*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
node_modules/
installer.g.iss
AppDir/
appimage-builder-cache/
builder.g.yml
assets/data/meta.json
certs
cli/.cache