@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-white font-sans overflow-x-hidden;
}

hr {
    @apply border-gray-600;
}

.panel {
    @apply dark:bg-gray-800 px-8 py-6 shadow rounded;
}

.text-box {
    @apply focus:outline-none ring-2 ring-gray-100 dark:ring-gray-800 bg-gray-100 dark:bg-gray-800 focus:ring-indigo-500 dark:focus:ring-indigo-500 rounded-sm px-3 py-1.5 transition duration-300;
}

.btn {
    @apply text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 focus:outline-none rounded transition duration-300;
}

.hover-pop {
    transition: 0.2s;
}

.hover-pop:hover {
    transform: scale(1.015);
}

.select {
    @apply appearance-none relative flex flex-row justify-center items-center bg-gray-100 dark:bg-gray-800 rounded;
}

.select select {
    background: inherit;
    color: inherit;

    @apply appearance-none w-full bg-gray-100 dark:bg-gray-800 focus:outline-none pr-7 pl-3 py-2 rounded cursor-pointer;
}

.select::after {
    content: "";
    clip-path: polygon(100% 0, 0 0, 50% 70%);

    @apply absolute pointer-events-none mt-0.5 right-3 bg-black dark:bg-white w-2.5 h-2.5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-800 rounded-full;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 hover:bg-gray-400 dark:hover:bg-gray-600 rounded-full;
}

.fade-enter-active {
    transition: 0.3s ease;
}

.fade-leave-active {
    transition: 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
