@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    @apply bg-white dark:bg-gray-900 text-black dark:text-white font-sans overflow-x-hidden;
}

hr {
    @apply border-gray-600;
}

.panel {
    @apply dark:bg-gray-800 px-8 py-6 shadow rounded;
}

.text-box {
    @apply focus:outline-none border-2 border-indigo-500 rounded text-black px-3 py-2 transition duration-300;
}

.btn {
    @apply text-white border-2 border-transparent bg-indigo-500 hover:bg-indigo-600 px-3 py-2 focus:outline-none rounded transition duration-300;
}

.hover-pop {
    transition: 0.2s;
}

.hover-pop:hover {
    transform: scale(1.02);
}
